<!DOCTYPE html>
<head>
    <title> CRUD</title>
</head>
<body>

        <h1> Create CRUD Operation </h1>

        <hr/>
        <a href="{% url 'stinsert'%}"> Add Student Record</a>
        <table border="3">
            <tr style="color: hsl(344, 88%, 51%);">
                 
            <th>Student Id</th>

            </tr>
            {% for displayst in crudst %}
            <tr>
                <td>{{displayst.id}}</td>

                <td><a href="/Edit/{{displayst.id}}">Edit</a></td>
                <td><a href="/Delete/{{displayst.id}}" onclick="return confirm('Are You Sure You Want To Delete ?')">Delete</a></td>
            </tr>
            {% endfor %}

        </table>

    <style>
    </style>
    
</body>
</html>
